/*
    Autores:
        - Gonzalo Saavedra Postigo
        - David Mariscal Martínez
        - Aris Burgos Pintos
    Organización: ITelligent Information Technologies, S.L.
    Licencia: gpl-3.0
*/

.dialogr{
    margin: 0px;
    margin-top: 12px;
}

.dialogr  .hd .c {
 font-size:1px; /* ensure minimum height */
 height:13px;
}

.dialogr .lightblue .bd .c .s {
 margin: 0px 8px 0px 4px;
 padding: 3px;
}

.dialogr  .ft .c {
 font-size:1px; /* ensure minimum height */
 height: 14px;
}
/* -----------------------------------------------------------
   ------------------ lightblue ------------------------------
   ----------------------------------------------------------- */
.lightblue .hd {
 background:transparent url(lightblue/tl.png) no-repeat 0px 0px;
}

.lightblue .hd .c {
 background:transparent url(lightblue/tr.png) no-repeat right 0px;
 font-size:1px; /* ensure minimum height */
 height:13px;
}

.lightblue .bd {
 background:transparent url(lightblue/ml.png) repeat-y 0px 0px;
}

.lightblue .bd .c {
 background:transparent url(lightblue/mr.png) repeat-y right 0px;
}

.lightblue .bd .c .s {
 background:#39a9dc url(lightblue/ms.png) repeat-x 0px 0px;
 margin: 0px 8px 0px 4px;
 padding: 3px;
}

.lightblue .ft {
 background:transparent url(lightblue/bl.png) no-repeat 0px 0px;
}

.lightblue .ft .c {
 background:transparent url(lightblue/br.png) no-repeat right 0px;
 font-size:1px; /* ensure minimum height */
 height: 14px;
}

.lightblue .body{
    border-color: #39a9dc;
}

/* content-specific */

.dialogr h1 {
 /* header */
 font-weight: bold;
 font-size: 13.5px;
 margin:0px;
 padding: 3px;
 margin-top:-0.6em;
 color: #FFF;
}

.dialogr .body {

 background-color: white;

 padding: 3px;

 margin:0.5em -4.8px 0px -4px;
 color: #666666;
 font:0.95em/1.5em arial,tahoma,"sans serif";
}