/*
    Autores:
        - Gonzalo Saavedra Postigo
        - David Mariscal Martínez
        - Aris Burgos Pintos
    Organización: ITelligent Information Technologies, S.L.
    Licencia: gpl-3.0
*/


.campo
{
   padding: 5px;
   margin: 5px;
   border: solid 1px #C0C0C0;
   background-color: #F5F5F5;
   display: inline;
   float: left;
   width: 230px; max-width: 230px;
}

.btn{
    background-color: rgb(23,170,155);
    font-weight:bold;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.btn:hover{
    color: orange;
}

div.img_btn_generate{
    background-image: url(img/doChart.png);
    background-repeat: no-repeat;
    display: inline;
    padding: 16px;
    margin: 0px;
    padding-top: 6px;
}

.bottom
{
   padding: 5px;
   margin-top: 5px;
}

/* Undo some styles from the master stylesheet */
.checklist li { background: none; padding-left: 0; }

/* CSS for checklists */
.checklist {
    border: 1px solid #ccc;
    list-style: none;
    height: 10em;
    overflow: auto;
    width: 16em;
}
.checklist, .checklist li { margin-left: 0; padding: 0; }
.checklist label { display: block; padding-left: 25px; text-indent: -25px; }
.checklist label:hover, .checklist label.hover { background: #777; color: #fff; }
* html .checklist label { height: 1%; }


.cl3 {
    border: 1px dotted #a17c04;
    color: #a05a04;
    font-family: "Trebuchet MS", Tahoma, Geneva, Arial, sans-serif;
    font-size: 0.9em;
    height: 10em;
}
.cl3 .alt { background: #f8f6ed; }
.cl3 label { padding: 0.2em 0.2em 0.2em 25px; }
.cl3 label:hover, .cl3 label.hover { background: #EFE9D4; color: #a05a04; }

.linkchart{
    list-style-image: url(img/chart.png);
    list-style-position:outside;
    padding-bottom: 5px;
    color: black;
    font-size: 14px;
    padding-left: 5px;
}
.linkchart > li{
    list-style-image: url(img/chart.png);
    list-style-position:outside;
}
.linkchart > a{
    text-decoration: none;
    padding-bottom: 10px;
}

a.enlacetitulografica:link {text-decoration:none; } /* Link no visitado*/
a.enlacetitulografica:visited {text-decoration:none;} /*Link visitado*/
a.enlacetitulografica:active {text-decoration:none; color: #003399;} /*Link activo*/
a.enlacetitulografica:hover {text-decoration:none; color: #003399;} /*Mause sobre el link*/
a.enlacetitulografica {
    text-decoration: none;
    color: black;
}