.color-mild {
    color: #fe9a2e;
}

.color-extreme {
    color: #df3a01;
}

.color-lower {
    color: #8963a6;
}

.color-upper {
    color: #3e1b59;
}

.bg-mild {
    background-color: #fe9a2e;
}

.bg-extreme {
    background-color: #df3a01;
}

.bg-lower {
    background-color: #8963a6;
}

.bg-upper {
    background-color: #3e1b59;
}