.block_evalcomix_graphic_tab {
    padding: 0.1em 1rem;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}

.block_evalcomix_tab_selected {
    background-color: #c0c0c0;
}

.block_evalcomix_table_filter {
    width: 20%;
    border: 1px solid #c0c0c0;
}

.block_evalcomix_table_graphic {
    width: 80%;
    background-color: #fff;
}

.block_evalcomix_filter_block {
    padding: 1em 0.5em;
    background-color: #fefefe;
    border: 1px solid #c0c0c0;
}

.block_evalcomix_display_none {
    display: none;
}

.clickable {
    cursor: pointer;
    color: #0070a8;
}

.block_evalcomix_invisible {
    visibility: hidden;
}

.block_evalcomix_w_20 {
    width: 20em;
}

.block_evalcomix_w_16 {
    width: 16px;
}

.block_evalcomix_w_17 {
    width: 17px;
}

.block_evalcomix_w_25 {
    width: 25px;
}

.block_evalcomix_font_size_08 {
    font-size: 0.8em;
}

.background-color-tr {
    background-color: #ededed;
}

.block_evalcomix-border {
    border: 1px solid #146c84;
}

.block_evalcomix_usertopic {
    width: 35px;
    padding: 3px;
}

.wrapper1,
.wrapper2 {
    width: 100%;
    border: none 0 RED;
    overflow-x: scroll;
    overflow-y: hidden;
}

.wrapper1 {
    height: 20px;
}

#div1 {
    width: 500px;
    height: 10px;
}

#div2 {
    width: 500px;
    overflow: auto;
}

#div {
    width: 100%;
}
